@require "colors"

html
  font-size: 14px
  font-family: "Hiragino Sans GB", Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑" , SimSun, "宋体", Heiti, "黑体", sans-serif

body
  font-size: 100%

.app
  width: 80%
  max-width: 1000px
  margin: 50px auto

.app__tab
  padding-bottom: 15px
  display: flex
  color: $gray
  > span
    cursor: pointer
    &:hover
      color: $main
  > span:nth-child(2)
    margin-left: auto

.app__tab__current
  color: $main

.config-tip
  padding-top: 20px
  color: $gray

  > p
    margin-top: 40px
    font-size: 1em
    text-align: right

  > h1
    font-weight: 400
    text-align: center

  > ol
    padding-left: 20px

    > li
      padding: 20px 0
      a
        color: $main
