/*
* @Author: CJ Ting
* @Date: 2017-01-22 21:54:15
* @Email: fatelovely1128@gmail.com
*/
._loading {
  font-size: 10px;
  text-indent: -9999em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #929292;
  background: -moz-linear-gradient(left, #929292 10%, rgba(146,146,146, 0) 42%);
  background: -webkit-linear-gradient(left, #929292 10%, rgba(146,146,146, 0) 42%);
  background: -o-linear-gradient(left, #929292 10%, rgba(146,146,146, 0) 42%);
  background: -ms-linear-gradient(left, #929292 10%, rgba(146,146,146, 0) 42%);
  background: linear-gradient(to right, #929292 10%, rgba(146,146,146, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
._loading:before {
  width: 50%;
  height: 50%;
  background: #929292;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
._loading:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

